{% extends "base.html.twig" %}

{% block body %}
    <h1>{{program.title}}</h1>
    <p>{{program.summary}}</p>

    <h2>{{season.description}} {{season.year}}</h2>

    {% for episode in episodes %}
        <h4> {{episode.number}} {{episode.title}}</h4>
        <a href="{{ path('program_episode_show', {'programId': program.id, 'seasonId': season.id, 'episodeId': episode.id}) }}">Voir la fiche de l'épisode</a>
    {% endfor %}

{% endblock %}